
SWOPstims/stimTextFiles/stimBlock6.txt
SWOPstims/stimTextFiles/stimBlock5.txt
SWOPstims/stimTextFiles/stimBlock4.txt
SWOPstims/stimTextFiles/stimBlock3.txt
SWOPstims/stimTextFiles/stimBlock2.txt
SWOPstims/stimTextFiles/stimBlock1.txt
